################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SliceOfFun/.vs/SliceOfFun
/SliceOfFun/obj
/SliceOfFun/bin/Debug/net7.0
/SliceOfFun/Program.cs
/SliceOfFun/Program.cs
/SliceOfFun/.vs/ProjectEvaluation/sliceoffun.projects.v7.bin
/SliceOfFun/.vs/ProjectEvaluation/sliceoffun.metadata.v7.bin
