################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SliceOfFun/.vs/SliceOfFun
/SliceOfFun/obj
